<div id="forecast-data">
  <table>
    <tbody>
      <tr>
        <th scope="row">Day</th>
        <% @forecasts.each do |forecast|%>
          <% if forecast[:date_time].strftime('%H').to_i.even? %>
            <td class="time-infos"><%= forecast[:date_time].strftime('%a')%></td>
          <% end %>
        <% end %>
      </tr>
      <tr>
        <th scope="row">Time</th>
        <% @forecasts.each do |forecast|%>
          <% if forecast[:date_time].strftime('%H').to_i.even? %>
            <td class="time-infos"><%= forecast[:date_time].strftime('%H')%>h</td>
          <% end %>
        <% end %>
      </tr>
      <tr>
        <th scope="row">Strength</th>
        <% @forecasts.each do |forecast|%>
          <% if forecast[:date_time].strftime('%H').to_i.even? %>
            <td><%= forecast[:wind_strength].round %></td>
          <% end %>
        <% end %>
      </tr>
      <tr>
        <th scope="row">Direction</th>
        <% @forecasts.each do |forecast|%>
          <% if forecast[:date_time].strftime('%H').to_i.even? %>
              <% angle = forecast[:wind_direction].to_i - 45 + 180 %>
              <td><div style = "transform: rotate(<%= angle %>deg)"><%= image_tag "arrow.svg" %></div></td>
            <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

