<h3 class="unmargined"><%= link_to spot.name, spot_path(spot) %></h3>

<p>
  <%= image_tag "wind.svg", id: "strength" %>
  <%= spot.fresh_forecasts.first.wind_strength.round %> kt
</p>
<p>
  <% w = spot.fresh_forecasts.first.wind_direction%>
  <div style="transform: rotate(<%= w + 180 %>deg)"> <%= image_tag "wind_direction.svg" %></div>
  <%= spot.find_string_direction(w) %>
</p>

<% nav_score = spot.nav_score_max(@wing_sizes) %>
<% punchline = spot.punchline(nav_score) %>
<h4><%= punchline %></h4>
