<p><%= @mean_weather_feedback[:message] %></p>

<% unless @mean_weather_feedback[:last_feedback].nil? %>
  <p>Mean wind direction : <%= @mean_weather_feedback[:mean_direction] %></p>
  <p>Mean wind strength : <%= @mean_weather_feedback[:mean_strength] %></p>
  <hr>
  <p>Last wind direction : <%= @mean_weather_feedback[:last_feedback][:direction] %></p>
  <p>Last wind strength : <%= @mean_weather_feedback[:last_feedback][:strength] %></p>
<% end %>


<div class="text-right add-feedback-btn-div">
  <%= link_to new_spot_weather_feedback_path(@spot), id: "add-feedback-btn", class: "kite-std-btn text-center" do %>
    Provide weather feedback
  <% end %>
</div>
