<div class="feedbacks">
  <% @spot.weather_feedbacks.each do |feedback| %>
    <p>Feedback #<%= feedback.id %></p>
    <p>Wind direction : <%= feedback.direction %></p>
    <p>Wind strength : <%= feedback.strength %></p>
    <p>Wing size : <%= feedback.wing_size %></p>
    <p>Rating : <%= feedback.rating %></p>
    <p>-----------------</p>
  <% end %>
  <%= link_to "Create a weather feedback", new_spot_weather_feedback_path(@spot) %>
</div>
