<h2><%= @mean_weather_feedback[:message] %></h2>

<% unless @mean_weather_feedback[:last_feedback].nil? %>
  <p>Mean wind direction : <%= @mean_weather_feedback[:mean_direction] %></p>
  <p>Mean wind strength : <%= @mean_weather_feedback[:mean_strength] %></p>
  <hr>
  <p>Last wind direction : <%= @mean_weather_feedback[:last_feedback][:direction] %></p>
  <p>Last wind strength : <%= @mean_weather_feedback[:last_feedback][:strength] %></p>
<% end %>
<p>-----------------</p>


<%= link_to new_spot_weather_feedback_path(@spot), id: "add-feedback-btn", class: "kite-std-btn" do %>
  Provide weather feedback
<% end %>
