<h8><%= mean_weather_feedback[:message] %></h8>

<% unless mean_weather_feedback[:last_feedback].nil? %>
  <div class="feedbacks-container">
    <div class="feedback-card">
      <h3>Vent moyen</h3>
      <div class="mean-feedback-infos col-xs-12">
        <div class="feedback-item text-center col-xs-12 col-sm-6">
          <%= image_tag "blue-wind.svg", id: "strength"%>
          <h4><%= mean_weather_feedback[:mean_strength] %> noeuds</h4>
        </div>
        <div class="feedback-item text-center col-xs-12 col-sm-6">
          <% w = mean_weather_feedback[:mean_direction] %>
          <div style="transform: rotate(<%= w + 180 %>deg);"> <%= image_tag "blue-wind-direction.svg" %></div>
          <h4><%= spot.find_string_direction(w) %></h4>
        </div>
      </div>
    </div>
    <div class="feedback-card">
      <h3>Dernier feedback</h3>
        <div class="last-feedback-infos col-xs-12">
          <div class="feedback-item text-center col-xs-12 col-sm-6">
            <%= image_tag "blue-wind.svg", id: "strength" %>
            <h4><%= mean_weather_feedback[:last_feedback][:strength] %> noeuds</h4>
          </div>
          <div class="feedback-item text-center col-xs-12 col-sm-6">
            <% y = mean_weather_feedback[:last_feedback][:direction] %>
            <div style="transform: rotate(<%= w + 180 %>deg);"> <%= image_tag "blue-wind-direction.svg" %></div>
            <h4><%= spot.find_string_direction(y) %></h4>
          </div>
        </div>
    </div>
  </div>
<% end %>



