<div class="container-fluid wrapper">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6" id="all-spot-cards-boundaries">
      <% @spots.each do |spot| %>
        <div class="col-xs-12 col-sm-12 " id="spot-card-boundaries">
          <div class="spot-card" style="background-image: url('<%= cl_image_path spot.photo.path %>', height: 200px, width: 330px, crop: fill">
            <%= link_to "", spot_path(spot), class: "spot-card-link" %>
            <div class="spot-infos small">
              <h3><%= spot.name %></h3>
              <div class="spot-full-infos">
                <div class="header-info-spot">

                <span><%= ['Perfect Conditions', 'Not the best time to go'].sample %></span>

                  <% @forecasts_results[spot.name].each do |forecast|%>
                    <% @wind_strength += forecast.wind_strength %>
                    <% @wind_direction += forecast.wind_direction %>
                  <% end %>
                  <% wind_strength_avg = @wind_strength / 6 %>
                  <% wind_direction_avg = @wind_direction / 6 %>
                  <span><%= image_tag "wind-4-icon.jpg", id: "strength" %><%= wind_strength_avg.round %> kt</span>
                  <span><%= image_tag "direction_compass.ico", id: "direction" %> <%= wind_direction_avg.round %>°</span>

                  <div class="stars-container">
                  <% if spot.average_rating %>
                    <% spot.average_rating.round.times do %>
                      <i class="fa fa-star yellow-filled"></i>
                    <% end %>
                    <% (5 - spot.average_rating.round).times do %>
                      <i class="fa fa-star not-filled"></i>
                    <% end %>
                  <% end %>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 block_maps">
      <div class="width_box">
        <div id="map" style="height: calc(100vh - 115px);"></div>

          <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
