<div class="container-fluid wrapper">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6">
      <% @spots.each do |spot| %>
        <div class="col-xs-12 col-sm-12">
          <div class="spot-card" style="background-image: url('<%= cl_image_path("image1_henvzi.jpg", width: 330, height: 400, crop: :fill) %>')">
            <%= link_to "", spot_path(spot), class: "spot-card-link" %>
            <div class="spot-infos small">
              <h2><%= spot.name %></h2>
              <div class="card-content-action">
                <% if spot.average_rating %>
                  <% spot.average_rating.round.times do %>
                    <i class="fa fa-star yellow-filled"></i>
                  <% end %>
                  <% (5 - spot.average_rating.round).times do %>
                    <i class="fa fa-star not-filled"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 block_maps">
      <div class="width_box">
        <div id="map" style="height: calc(100vh - 115px);"></div>

          <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
