<div class="container-fluid wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" id="search-box-index">
      <div id="search-bar-index">
        <p class="unmargined" style="color: white">You have selected <%= pluralize @wing_sizes.size, "wing size" %> :
          <% @wing_sizes.each do |size| %>
            <%= size.to_i %> m2
          <% end %>
        <div class="wing-box-index">
          <button class="kite-index-btn" type="button" data-toggle="modal" data-target="#wing-sizes-modal">
            Change wing sizes option
          </button>
        </div>
        <%= form_tag(spots_path, :method => "get", class: "form-inline", id: "search-form") do %>
          <input type="text" name="address" id="search_address" class="form-control border-radius" placeholder="Where ?" value="<%= params[:address] %>">
          <button type="submit" class="kite-index-btn" id="search-button-index"><i class="fa fa-search"></i> Search</button>
        <% end %>
        <!-- Wing sizes Modal -->
          <div class="modal fade" id="wing-sizes-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content" id="modal-content-wing-sizes">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Wing sizes choices</h4>
                </div>
                <div class="modal-body text-center" id="wing-sizes-container">
                  <h3>Choose your wing sizes</h3>
                  <div class="wing_size text-center">
                    <%= render 'pages/wing_size_selector' %>
                    <%= form_tag(spots_path, :method => "get", class: "form-inline") do %>
                      <%= hidden_field_tag 'selected-wing-sizes', class: "wing-sizes-form"%>
                      <%= submit_tag "Update", class: "kite-index-btn" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Wing sizes Modal -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6" id="all-spot-cards-boundaries">
      <div class="results">
        <h2><%= @spots.size %> results</h2>
      </div>
      <% @spots.each do |spot| %>
        <div class="col-xs-12 col-sm-12 " id="spot-card-boundaries">
          <% if spot.photo %>
            <% img_url = cl_image_path spot.photo.path, height: 200, width: 658, crop: :fill %>
          <% else %>
            <% img_url = "http://res.cloudinary.com/dmx5zou5e/image/upload/c_crop,g_custom,h_200,w_658,x_922,y_559/v1480531988/image1_henvzi.jpg"%>
          <% end %>
          <div class="spot-card" data-name="<%= spot.name %>" style="background-image: linear-gradient(rgba(201, 255, 191, 0.2), rgba(255, 175, 189, 0.2)), url('<%=  img_url %>')">
            <%= link_to "", spot_path(spot), class: "spot-card-link" %>
            <div class="spot-infos small">
              <h3><%= spot.name %></h3>
              <div class="spot-full-infos">
                <div class="header-info-spot">
                  <div class="info-spot-items" id="temperature">
                    <h1><%= spot.fresh_forecasts.first.temperature.round %> °C</h1>
                    <p id="hour"><%= (Time.now + 60*60).strftime("%H:%M") %></p>
                  </div>
                  <div class="info-spot-items">
                    <% condition = spot.fresh_forecasts.first.icon %>
                    <%= image_tag @condition_icons[condition] %>
                    <%= @condition_string[condition] %>
                  </div>
                  <div class="info-spot-items">
                    <% @humidity = spot.fresh_forecasts.first.cloud_cover*100 %>
                    <%= @humidity.round %>%
                    <p>Humidity</p>
                  </div>
                  <div class="info-spot-items text-center">
                    <%= image_tag "wind.svg", id: "strength" %> <br>
                    <%= spot.fresh_forecasts.first.wind_strength.round %> kt
                  </div>
                  <div class="info-spot-items">
                    <% w = spot.fresh_forecasts.first.wind_direction%>
                    <div style="transform: rotate(<%= w + 180 %>deg)"> <%= image_tag "wind_direction.svg" %></div>
                    <%= spot.find_string_direction(w) %>
                  </div>
                    <!-- ATTENTION à modifier selon le spot.fresh_forecasts.first.icon -->
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 block_maps">
      <div class="width_box">
        <div id="map" style="height: calc(100vh - 115px);"></div>

          <% content_for(:after_js) do %>
            <script>
              $(document).ready(function() {
                var handler = Gmaps.build('Google');
                handler.buildMap({
                  provider: {
                    styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#c0e4f3"},{"visibility":"on"}]}]
                  },
                  internal: { id: 'map' } }, function() {
                  markers = handler.addMarkers(<%= raw @hash.to_json %>);

                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  if (markers.length == 0) {
                    handler.getMap().setZoom(2);
                  } else if (markers.length == 1) {
                    handler.getMap().setZoom(14);
                  }

                  // Loads all infowindow in markers
                  _.each(markers, function(marker){
                    google.maps.event.trigger(marker.getServiceObject(), 'click');
                  });
                  //setTimeout(function() { $("#map .gm-style-iw + div").click() }, 50);
                  $(".spot-card").on("mouseenter", function() {
                    var name = $(this).data("name");
                    marker = _.filter(markers, function(marker) {
                      return marker.infowindow.content.match(new RegExp(name));
                    })[0];
                    google.maps.event.trigger(marker.getServiceObject(), 'click');

                  });

                });

              });
          </script>
        <% end %>
      </div>
    </div>
  </div>
</div>
