<div class="container">
   <div class="row">
     <div class="col-sm-8 col-sm-offset-2">
     <h1>Add a new spot, Dude!</h1>
       <%= simple_form_for @spot do |f| %>
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :address, input_html: { id: "search_address" } %>
          <%= f.input :description, as: :text %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send your spot", class: "btn btn-primary" %>
        </div>
      <% end %>
     </div>
   </div>
 </div>

