<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <!-- Title Section -->
        <div class="col-xs-12">
          <div class="title-section bg-white">
            <h2><%= @spot.name %> - <%= link_to "Add this spot as a favorite spot", favorite_spots_path(spot_id: params[:id]), method: :post, class: "btn btn-primary" %></h1>
            <p><%= @spot.description unless @spot.description.nil?%></p>
            <p>Accepted ? <%= @spot.accepted %></p>
            <p>You're on spot n# <%= @spot.id %></p>
          </div>
        </div>

        <!-- Weather infos -->
        <div class="col-xs-12 col-sm-8">
          <div class="weather-infos">
            <div class="forecast-data bg-white">
              <h4>forecast data</h4>
              <%= render 'forecast', forecasts: nil %>
            </div>
            <div class="tide-data bg-white hidden">
              <% query = @spot.harbor.query if @spot.harbor %>
              <% query = "ABER_BENOIT_MEAN_RENEAT" if !@spot.harbor #TEST PURPOSES, line to be delted%>
              <script src="http://services.data.shom.fr/hdm/vignette/petite/<%= query %>?locale=fr"></script>
            </div>
          </div>
        </div>

        <!-- Feedback infos -->
        <div class="col-xs-12 col-sm-4">
          <%= render 'weather_feedbacks', feedbacks: @mean_weather_feedback %>

        </div>

        <!-- Facilities -->
        <div class="col-xs-12">
          <div class="spot-facilities bg-white">
            <p>Facilities: <%= @spot.facilities %></p>
          </div>
        </div>

        <!-- Reviews -->
        <div class="col-xs-12">
          <div class="reviews bg-white">
          <h4>Reviews - <%= link_to "Add a comment", new_spot_review_path(@spot), class: "btn btn-primary" %></h4>
          <hr>
            <% @spot.reviews.each do |review| %>
              <p><strong><%= review.user.first_name || review.user.email %> - Rating : <%= review.rating %></strong></p>
              <p><%= review.content %></p>
              <hr>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

