<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <!-- Title Section -->
        <div class="col-xs-12">
          <div class="spot-show-card">
            <h1><%= @spot.name.capitalize %>

              <div id="spot-rating">
                <% @spot.average_rating.round.times do %>
                  <i class="fa fa-star"></i>
                <% end %>
              </div>

            <%= link_to favorite_spots_path(spot_id: params[:id]), method: :post, id: "add-to-favorite-btn", class: "kite-round-btn" do %>
              <i class="fa fa-heart"></i>
            <% end %>
            </h1>

            <p><%= @spot.description unless @spot.description.nil?%></p>
            <p>Accepted ? <%= @spot.accepted %></p>
            <p>You're on spot n# <%= @spot.id %></p>
          </div>
        </div>

        <!-- Weather infos -->
        <div class="col-xs-12">
          <div class="spot-show-card">
            <h2>Forecast data</h2>
            <%= render 'forecast', forecasts: nil %>
          </div>
        </div>

        <!-- Tide infos -->
        <div class="col-xs-12 col-sm-6" id="tide-container">
          <div class="spot-show-card">
            <div class="tide-data hidden">
              <% query = @spot.harbor.query if @spot.harbor %>
              <% query = "ABER_BENOIT_MEAN_RENEAT" if !@spot.harbor #TEST PURPOSES, line to be delted%>
              <script src="http://services.data.shom.fr/hdm/vignette/petite/<%= query %>?locale=fr"></script>
            </div>
          </div>
        </div>

        <!-- Feedback infos -->
        <div class="col-xs-12 col-sm-6" id='feedbacks-container'>
          <div class="spot-show-card">
            <%= render 'weather_feedbacks', feedbacks: @spot.weather_feedbacks %>
          </div>
        </div>

        <!-- Facilities -->
        <div class="col-xs-12">
          <div class="spot-show-card">
            <h2>Facilities</h2>
            <% unless @spot.facility.parking.nil? %><p><strong>Parking:</strong> <%= @spot.facility.parking %></p><% end %>
            <% unless @spot.facility.safety_watch.nil? %><p><strong>Sécurité: <%= @spot.facility.safety_watch %></p><% end %></strong>
            <% unless @spot.facility.kite_school.nil? %><p><strong>Schools:</strong> <%= @spot.facility.kite_school %></p><% end %>
            <% unless @spot.facility.water_spot.nil? %><p><strong>Point d'eau:</strong> <%= @spot.facility.water_spot %></p><% end %>
            <% unless @spot.facility.shop.nil? %><p><strong>Shop:</strong> <%= @spot.facility.shop %></p><% end %>
            <% unless @spot.facility.shower.nil? %><p><strong>Douches:</strong> <%= @spot.facility.shower %></p><% end %>
            <% unless @spot.facility.comment.nil? %><p><strong>Commentaires:</strong> <%= @spot.facility.comment %></p><% end %>
          </div>
        </div>

        <!-- Reviews -->
        <div class="col-xs-12">
          <div class="spot-show-card">
            <div id="review-header">
              <h2 id="reviews_count">
                <%= render "spots/reviews_count", spot: @spot %>
              </h2>

              <!-- Modal for reviews -->
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="comment-button">
                Add a review
              </button>
            </div>
            <hr>
            <div id="reviews">
              <% @spot.reviews.each do |review| %>
               <%= render 'reviews/show', review: review %>
              <% end %>
            </div>
          </div>
        </div>


        <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Review</h4>
                </div>
                <div class="modal-body" id="review_form_container">
                  <%= render 'reviews/form', spot: @spot, review: @review %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        <!-- End of features -->

      </div>
    </div>
  </div>
</div>

