<h1>Titre 1</h1>
<h2>Titre 2</h2>
<h3>Titre 3</h3>
<h4>Titre 4</h4>
<h5>Titre 5</h5>
<h6>Titre 6</h6>
<h7>Titre 7</h7>
<h8>Titre 8</h8>
<p>Les paragraphes</hp>

<h1>User profile</h1>
<h3>Liste des infos pertinentes à afficher</h3>
<ul class="list-unstyled">
  <li>Email : <%= @user.email %></li>
  <li>First name : <%= @user.first_name %></li>
  <li>Last name : <%= @user.last_name %></li>
  <li>Weight (for wing purposes) : <%= @user.weight %></li>
    <% if @user.ambassador %>
      <% role = "Ambassadeur" %>
    <% else %>
      <% role = "Simple utilisateur" %>
    <% end %>
  <li>Role : <%= role %></li>
</ul>

<%= link_to "Edit your profile", edit_user_path(@user) %>

<% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
<%= image_tag avatar_url %>
