<div class="container-fluid" id="full-navbar">
  <div id="navbar-top">

    <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand flex-center-column", id:"logo" do %>
      <%= render "pages/wind_logo" %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-right hidden-xs hidden-sm flex-center">
      <%= link_to "Tous les spots", spots_path, class: "navbar-item navbar-link" %>
      <%= link_to "Proposer un spot", new_spot_path, class: "navbar-item navbar-link" %>
      <!-- Different navigation if login or not -->
      <% if user_signed_in? %>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle navbar-item navbar-link" data-toggle="dropdown">Profil</a>
            <ul class="dropdown-menu">
              <li><%= link_to "Mon profil", user_path(current_user), class: "navbar-item navbar-link" %></li>
              <li><%= link_to "Mes spots préférés", favorite_spots_path, class: "navbar-item navbar-link" %></li>
              <li><%= link_to "Déconnexion", destroy_user_session_path, class: "navbar-item navbar-link", method: :delete %></li>
            </ul>
        </div>
      <% else %>
        <!-- Login text link -->
        <%= link_to t(".sign_in", default: "Inscription"), new_user_session_path, class: "navbar-item navbar-link" %>
      <% end %>
    </div>
  </div>
</div>
