<div class="container-fluid" id="full-navbar">
  <div id="navbar-top">

    <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-right hidden-xs hidden-sm">

      <!-- Different navigation if login or not -->
      <% if user_signed_in? %>

                    <!-- TEST Profile picture and dropdown -->
                  <div class="navbar-wagon-item">
                    <div class="dropdown">
                      <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
                      <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
                      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Log Out</a></li>
                      </ul>
                    </div>
                  </div>

        <%= link_to "Profile", user_path(current_user), class: "navbar-item navbar-link" %>
        <%= link_to "Log out", destroy_user_session_path, class: "navbar-item navbar-link", method: :delete %>
      <% else %>
        <!-- Login text link -->
        <%= link_to t(".sign_in", default: "Sign in / Sign up"), new_user_session_path, class: "navbar-item navbar-link" %>

      <% end %>

    </div>
  </div>

  <div id="navbar-bottom">
    <%= link_to "All spots", spots_path, class: "navbar-item navbar-bottom-link" %>
    <% if user_signed_in? %>
      <%= link_to "My favorite spots", favorite_spots_path, class: "navbar-item navbar-bottom-link" %>
    <% end %>
    <%= link_to "Submit a spot", new_spot_path, class: "navbar-item navbar-bottom-link" %>
  </div>
</div>
