<%= form_tag(spots_path, :method => "get", class: "form-inline") do %>

<div class="main-title-section">
  <h1 id="main-title">Just go kite-surfing.</h1>
  <div class= "search_address_box hidden">
    <input type="text" name="address" id="search_address" class="form-control border-radius" placeholder="Enter Spot" autofocus="autofocus">
    <i class="fa fa-arrow-circle-o-right" aria-hidden="true" id="arrow"></i>
  </div>
  <h3 id="sub-title">Choose the right spot wherever you go</h3>
</div>

<div class="wing_size text-center hidden flex-center">
  <h4 id="message">Choose your wing sizes:</h4>
  <%= render 'wing_size_selector' %>
  <%= submit_tag "Go now !", class:"btn kite-home-btn", id:"second-button" %>
</div>
  <%= hidden_field_tag 'selected-wing-sizes' %>
  <div class="lets-go flex-center">
    <!-- OCEAN -->
    <div class="home_sea">
      <%= render "home_sea" %>
    </div>
    <!-- BUTTONS -->
    <%= submit_tag "Let's start !", class:"btn kite-home-btn not-clicked-yet", id:"first-button" %>
  </div>
<% end %>



<!-- CATCHPHRASE -->
<div class="box-bottom-right text-center">
  <h3 id="title-bottom">All the info you need in one place</h3>
  <div class="icon-wind">
    <%= link_to spots_path do %>
      <%= render "wind_button" %>
    <% end %>
  </div>
</div>



