<%= form_tag(spots_path, :method => "get", class: "form-inline") do %>

<div class="main-title-section">
  <h1 id="main-title">Just go kite-surfing.</h1>
  <input type="text" name="address" id="search_address" class="form-control border-radius hidden" placeholder="Where should we go?">
  <h3 id="sub-title">Choose the right spot wherever you go</h3>
</div>

<div class="wing_size hidden">
  <%= render 'wing_size_selector' %>
</div>
  <%= hidden_field_tag 'selected-wing-sizes', class: "wing-sizes-form"%>
  <div class="lets-go flex-center">
    <%= submit_tag "Let's start !", class:"btn kite-home-btn not-clicked-yet", id:"first-button" %>
    <%= submit_tag "Let's start !", class:"btn kite-home-btn hidden", id:"second-button" %>
  </div>
<% end %>

<!-- OCEAN -->
<div class="home_sea">
  <%= render "home_sea" %>
</div>


<!-- CATCHPHRASE -->
<div class="box-bottom-right text-center">
  <h3 id="title-bottom">All the info you need in one place</h3>
  <div class="icon-wind">
    <%= link_to spots_path do %>
      <%= render "wind_button" %>
    <% end %>
  </div>
</div>



